
    <div> 
        ID:         @ViewBag.produto.Id<br/>
        Nome:       @ViewBag.produto.Nome<br/>
        Preço:      @ViewBag.produto.Nome<br/>
        Categoria:  @ViewBag.produto.Categoria.Nome<br/>
        Descrição:  @ViewBag.produto.Descricao<br/>
    </div>

    @Html.RouteLink("Voltar para a lista de produtos.","ListaProdutos")
